body {
    height: 100vh;
    background-image: url('../images/Bg.jpg');
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    color: white;
    text-align: center;
}

.container {
    width: 400px;
    overflow: hidden;
    background: #ffffff96;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
    position: relative;
}


.forms {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease;
}

.form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.form1 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color:#0b23ff;
}
.form1 h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color:#0b23ff;
}

.form input {
    width: 94%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form1 input {
    width: 94%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form1 button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.form1 button:hover {
    background: #0056b3;
}

.form button:hover {
    background: #0056b3;
}


.switch {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007bff;
}

.switch:hover {
    text-decoration: underline;
}
